export default {
    apiKey: "AIzaSyDBj5h6IEjtpeozVFptt9-9UjhaiqrezPg",
    authDomain: "class-chat-c1a9b.firebaseapp.com",
    databaseURL: "https://class-chat-c1a9b.firebaseio.com",
    projectId: "class-chat-c1a9b",
    storageBucket: "class-chat-c1a9b.appspot.com",
    messagingSenderId: "375810196453",
    appId: "1:375810196453:web:156c28da53c3e920dfa50c",
    measurementId: "G-NDXQH2RL7Z"
}